 .state {
  float: right;
  margin-top: 6px;
}
ul {
  margin: 0;
  padding: 0 0 15px;
  list-style: none;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}
li {
  display: inline-block;
  margin-right: 15px;
  width: 170px;
  white-space: initial;
}
.item-date {
  font-size: 15pt;
  color: #165366;
  margin-right: 10px;
  display: inline-block;
}
.item-main {
  font-size: 15pt;
  display: inline-block;
}
.item-description {
  border-top: 1px solid #44A4C2;
  width: 100%;
  font-size: 11pt;
}
.item-temperature {
  font-size: 11pt;
}

